Title:          studio
Version:        @version@
Description:    Record and play back audio files in various formats.
Author:         N.J.Bailey@leeds.ac.uk
Maintained-by:  N.J.Bailey@leeds.ac.uk
Maintained-at:  sunsite.unc.edu
Platforms:      Linux with Tcl/Tk4.0, USS, soundcard.
Copying-Policy: Freely Redistributable subject to registration.
Keywords:       Audio, Music, Tcl/Tk

